footfoot<div class="layout_nav">
<div class="layoutLeft mr20">
<h5>联系方式</h5>
<div class="lx">
<ul>
<li class="add png_bg">地址：北京市东城区美惠大厦一单元</li>
<li class="tel png_bg">联系电话：  010-59001921<br>
商务电话：13911052818</li>
<li class="mail png_bg">投稿邮箱：<a href="mailto:huanglei@leimingtech.com" style="color:white">huanglei@leimingtech.com</a></li>
</ul>
</div>
</div>
<div class="layoutMiddle mr20">
<h5>备案信息</h5>
<div class="lx">本网站法律顾问：柯桥律师事务所主任 王先生<br>
浙江ICP备057588888号 <br>
互联网新闻信息服务许可证：浙新网备201101号 <br>
信息网络传播视听节目许可证：1618888 </div>
</div>
<div class="layoutRight">
<h5></h5>
<div class="lx lx_link">
<ul>
<li>&gt;&gt;<a  target="_blank">网站简介</a></li>
<li>&gt;&gt;<a  target="_blank">广告服务</a></li>
<li>&gt;&gt;<a  target="_blank">版权声明</a></li>
<li>&gt;&gt;<a  target="_blank">工作邮箱</a></li>
<li>&gt;&gt;<a  target="_blank">联系我们</a></li>
<li>&gt;&gt;<a  target="_blank">意见反馈</a></li>
<li>&gt;&gt;<a  target="_blank">投稿</a></li>
<li>&gt;&gt;<a  target="_blank">不良信息举报</a></li>
<li>&gt;&gt;<a  target="_blank">友情链接</a></li>
</ul>
</div>
</div>
</div>
<div class="footer_line"></div>
<div class="footer_di">
<span style="width:300px;">Copyright 2012-2015 北京雷铭智信科技有限公司（www.leimingtech.com). All rights reserved.</span>
  <script type="text/javascript">
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_1255363777'%3E%3C/span%3E%3Cscript  src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1255363777%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
