<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	 <style type="text/css">
    video {
        width: 100%;
        height: auto;
    }

    ul {
        width: 2000px;
        overflow: hidden;
        white-space: nowrap;
    }

    li {
        list-style: none;
        float: left;
        margin-left: 15px;
        width: 130px;
    }
    .box{width: 500px; height: auto;margin: 50px;}
    </style>
   
</head>
<body>
	<#assign site1 ="/gd121">


    <#include "/wwwroot/${site1}/template/pc/section/header.html">
        <!-- head -->
        <div id="head">
           <img src="${site1}/images/logo.jpg" alt="">
        </div>
        <!-- head end  -->
       
<!-- nav -->
        <div>
        
        	<#assign name ="catalogTag">
        	
<#assign catalogTag =newTag("${name}")>

            <ul>
            	 <li><a href="http://localhost/gd121/index.shtml" style="width:54px;">首页</a></li>
                <#assign catalog=catalogTag( "{'levels':'self','name':'402881f4608b6d29016090cb87b30069'}")>
                    <#if catalog?exists>
                        <li><a href="${site1}${catalog.url!'javascript:void(0);'}" style="width:54px;">${catalog.name!''}</a></li>
                    </#if>
                    <#assign catalog=catalogTag( "{'levels':'self','name':'402881f4608b6d29016090ca77a80062'}")>
                        <#if catalog?exists>
                            <li><a href="${site1}${catalog.url!'javascript:void(0);'}" style="width:54px;">${catalog.name!''}</a></li>
                        </#if>
                        <#assign catalog=catalogTag( "{'levels':'self','name':'402881f4608b6d29016090c7743d0033'}")>
                            <#if catalog?exists>
                                <li><a href="${site1}${catalog.url!'javascript:void(0);'}" style="width:54px;"><b>${catalog.name!''}</b></a></li>
                            </#if>
                            <#assign catalog=catalogTag( "{'levels':'self','name':'402881f4608b6d29016090c88a28005f'}")>
                                <#if catalog?exists>
                                    <li><a href="${site1}${catalog.url!'javascript:void(0);'}" style="width:54px;">${catalog.name!''}</a></li>
                                </#if>
                                
                                 <#assign catalog=catalogTag( "{'levels':'self','name':'402881f46095a5a6016095d3f1050002'}")>
                                <#if catalog?exists>
                                    <li><a href="${site1}${catalog.url!'javascript:void(0);'}" style="width:54px;">${catalog.name!''}</a></li>
                                </#if>
            </ul>
        </div>
        <!-- nav end -->

<div class="box">

     

        <!--主题 -->
<div class="content2">
<div class="content2_left">
<div class="dh_a">


    <div class="new8">
       
<ul>
<!---->
<#assign articleTag =newTag("articleTag")>
    <#assign articleList =articleTag("{'name':'402881f46095e08b016096d1bd8d0012','count':'5','levels':'all'}")>
    <#if articleList?exists && articleList?size gt 0>
        <#list articleList as article>
            <li style="width: 220px"><a href="${site1}${article.url!'javascript:void(0);'}" target="_blank">
                <img src="${article.thumb}" style="width: 200px; height: 120px;">
                <p>${article.title?substring(0,7)}...</p>
                <div class="sp_button3"></div></a>
            </li>
        </#list>
    </#if>
</ul>
</div>



</div>

        </div>

    </div>

        <!--footer-->
        <div class="footer">
        	
            <#include "/wwwroot/gd121/template/pc/section/footer.html">
                <div>
                    <img src="/gd121/images/foot.png" alt="" style="width: 1000px">
                </div>
                <!-- 页脚 -->
        </div>
        <!--footer end-->
</body>
</html>