<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${contentF.title!''}</title>
    <meta name="keywords" content="" />
    <link href="/pcstyle/main.css" rel="stylesheet" type="text/css" />
    <link href="/pcstyle/top.css" rel="stylesheet" type="text/css" />
    <link href="/pcstyle/view.css" rel="stylesheet" type="text/css" />
    <link href="/pcstyle/style.css" rel="stylesheet" type="text/css" />
    <link href="/pcstyle/commtent.css" rel="stylesheet" type="text/css" />
    <link href="/pcstyle/tags.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="${contextpath}/media/image/favicon.ico" />
    <link href="/pcstyle/layer.css" rel="stylesheet" type="text/css" />
    <script src="/pcstyle/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/pcstyle/js/layer.js"></script>
    <script type="text/javascript">
    var contextpath = '${contextpath}';
    var contentid = '${contentF.id?if_exists}';
    </script>
    <script type="text/javascript" src="${contextpath}/member/js/comment/news_detail.js"></script>
    <style type="text/css">
    video {
        width: 100%;
        height: auto;
    }

    ul {
        width: 2000px;
        overflow: hidden;
        white-space: nowrap;
    }

    li {
        list-style: none;
        float: left;
        margin-left: 15px;
        width: 130px;
    }
    .box{width: 500px; height: auto; margin: 50px;}
    </style>
</head>

<body>
  

        <#assign site1 ="/gd121">


    <#include "/wwwroot/${site1}/template/pc/section/header.html">
        <!-- head -->
        <div id="head">
           <img src="${site1}/images/logo.jpg" alt="">
        </div>
        <!-- head end  -->
       
<!-- nav -->
        <div>
        
            <#assign name ="catalogTag">
            
<#assign catalogTag =newTag("${name}")>

            <ul>
                 <li><a href="http://localhost/gd121/index.shtml" style="width:54px;">首页</a></li>
                <#assign catalog=catalogTag( "{'levels':'self','name':'402881f4608b6d29016090cb87b30069'}")>
                    <#if catalog?exists>
                        <li><a href="${site1}${catalog.url!'javascript:void(0);'}" style="width:54px;">${catalog.name!''}</a></li>
                    </#if>
                    <#assign catalog=catalogTag( "{'levels':'self','name':'402881f4608b6d29016090ca77a80062'}")>
                        <#if catalog?exists>
                            <li><a href="${site1}${catalog.url!'javascript:void(0);'}" style="width:54px;">${catalog.name!''}</a></li>
                        </#if>
                        <#assign catalog=catalogTag( "{'levels':'self','name':'402881f4608b6d29016090c7743d0033'}")>
                            <#if catalog?exists>
                                <li><a href="${site1}${catalog.url!'javascript:void(0);'}" style="width:54px;"><b>${catalog.name!''}</b></a></li>
                            </#if>
                            <#assign catalog=catalogTag( "{'levels':'self','name':'402881f4608b6d29016090c88a28005f'}")>
                                <#if catalog?exists>
                                    <li><a href="${site1}${catalog.url!'javascript:void(0);'}" style="width:54px;">${catalog.name!''}</a></li>
                                </#if>
                                 <#assign catalog=catalogTag( "{'levels':'self','name':'402881f46095a5a6016095d3f1050002'}")>
                                <#if catalog?exists>
                                    <li><a href="${site1}${catalog.url!'javascript:void(0);'}" style="width:54px;">${catalog.name!''}</a></li>
                                </#if>
            </ul>
        </div>
        <!-- nav end -->

<!-- box -->
<div class="box">
        <div style="font-size: 18px;margin-top: 15px;">${contentF.title!''}</div>
        <span style="color: #BABABA;font-size: 10px;margin-top: 5px;display: block;">${contentF.sourceid!''}  <#if contentF.published?exists>${contentF.published?string('yyyy-MM-dd')}</#if></span>
        <div><#if articleDataF?exists>${articleDataF.content!''} </#if></div>

 </div>  
      <!-- box end -->

        <!----评论框---->

            <div id="SOHUCS">
                <h1 class="np-title">
                    <a href="${contextpath}/front/commentFrontController.do?commentaryList&contentid=${contentF.id}" id="commtent_a" target="_blank" ><span id="flushCommentCount"></span></a>
                    <strong style="color: #2d96e9;">网友评论</strong>
                </h1>
                <form id="addComment">
                    <input type="hidden" name="contentid" value="${contentF.id}" />
                    <textarea tabindex="1" id="commentcontent" name="content" style="height: 60px;padding: 10px;width: 620px;" onkeyup="javascript:chkmaxsms(this,'150')" placeholder="(请勿超过150字)"></textarea></form></div>

        <!--footer-->
        <div class="footer">
            
            <#include "/wwwroot/gd121/template/pc/section/footer.html">
                <div>
                    <img src="/gd121/images/foot.png" alt="" style="width: 1000px">
                </div>
                <!-- 页脚 -->
        </div>
        <!--footer end-->

</body>

</html>